@import 'variables.scss';
@import 'mixins.scss';
@import 'reset.scss';

body, html {
    font-family: $primary-font;
    font-size: 18px;
}
.div-flex {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

// efekt parallax CSS
.tlo1 { background-image: url('../img/01.jpg'); }
.tlo2 { background-image: url('../img/02.jpg'); }
.tlo3 { background-image: url('../img/03.jpg'); }
.tlo4 { background-image: url('../img/04.jpg'); }
.tlo5 { background-image: url('../img/05.jpg'); }
.parallax-lotus {
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    max-height: 1000px;
    min-height: 400px;
}
.parallax {
    @extend .parallax-lotus;
    background-attachment: fixed;
}

// desktopowy pasek nawigacji - start
nav {
    height: 10.5rem;
    width: 100%;
    border-bottom: 1px solid $gray;
    background: $gradient-menu;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    box-shadow: $shadow;
    transition: $transition;
    .img-logo {
        @extend .div-flex;
        justify-content: flex-start;
        img {
            transition: $transition;
            max-height: 6.5rem;
            padding: 2rem .5rem;
            opacity: 0.9;
            &:first-child { padding-left: 2rem; }
        }
    }
    #menu-toggle { display: none; }
    .link-up {
        text-decoration: none;
        color: $gray;
        div {
            height: 100%;
            box-sizing: border-box;
            padding: 3rem 1.5rem;
            text-align: center;
            transition: $transition;
            &:hover {
                color: $yellow;
                box-shadow: $shadow;
                background-color: rgba($gray, 0.85);
            }
        }
    }
}

// desktopowy pasek nawigacji - scroll
.nav-scroll {
    height: 4.5rem;
    background: rgba(255,255,255,.7);
    border-bottom: .3rem solid $gray;
    .img-logo {
        img {
            height: 3rem;
            padding: .85rem .4rem;
            &:first-child { padding-left: 1rem; }
        }
    }
    .link-up {
        div {
            padding: 1.2rem;
            &:hover { background-color: $gray; }
        }
    }
    .current { @include link-current(); }
}

// wygląd zawartości tekstowej
.content {
    padding: 5rem 10rem;
    line-height: 1.7rem;
    text-align: justify;
    background-color: $white;
    h2 {
        font-size: 4rem;
        color: $yellow;
        text-shadow: $shadow;
        line-height: 5rem;
        margin-top: 1rem;
        text-align: center;
        position: relative;
        right: 2000px;
    }
    p {
        margin-top: 1.5rem;
        position: relative;
        right: 2000px;
    }
}

// przycisk - do góry
#btn-up {
    transition: $transition;
    position: fixed;
    right: -10rem;
    bottom: 2rem;
    img {
        transition: $transition;
        height: 4rem;
    }
}

// stopka
footer {
    padding-bottom: 3rem;
    background-color: $gray;
    color: $white;
    text-align: center;
    .div-flex {
        padding: 2rem 10rem 1rem 10rem;
        a {
            text-decoration: none;
            color: inherit;
            font-size: 1.1rem;
            line-height: 1.5rem;
            padding: 1rem;
            transition: $transition;
            &:hover {
                color: $yellow;
            }
        }
    }
    p {
        line-height: 2rem;
        font-size: .9rem;
        font-weight: lighter;
        padding: 0 1rem;
    }
}

// urządzenia mobilne - tablet
@media #{$tablet} {
    #btn-up {
        bottom: 1rem;
        img {
            height: 3rem;
            opacity: 0.7;
        }
    }
    .content {
        padding: 5rem 5rem;
        h2 {
            font-size: 3rem;
            line-height: 4rem;
        }
        p {
            margin-top: 1rem;
            font-size: .9rem;
        }
    }
    footer {
        .div-flex {
            padding: 2rem 2rem 1rem 2rem;
        }
    }
}

// urządzenia mobilne - smartfon
@media #{$mobile} {
    #btn-up {
        img {
            height: 2.5rem;
        }
    }
    .content {
        padding: 3rem 4rem;
        h2 {
            font-size: 2.5rem;
            line-height: 3.5rem;
        }
        p {
            font-size: .8rem;
            margin-top: .8rem;
        }
    }
    footer {
        padding-bottom: 2rem;
        .div-flex {
            padding: 1rem;
            a {
                line-height: 1rem;
                font-size: .9rem;
                padding: .5rem;
            }
        }
    }
    .nav-scroll {
        height: 3.5rem;
        box-sizing: border-box;
        .img-logo {
            img {
                height: 2rem;
                padding: .6rem .2rem;
                &:first-child { padding-left: .7rem; }
            }
        }
        #menu-toggle {
            display: block !important;
            width: 3.5rem;
            heigth: 100%;
            border: none;
            background-color: $gray;
            position: absolute;
            top: 0;
            right: 0;
            span {
                display: block;
                background-color: $white;
                height: .4rem;
                width: 80%;
                margin: .5rem auto;
                border-radius: .3rem;
            }
        }
        #menu-top {
            width: 100%;
            position: fixed;
            left: 0;
            top: 3.5rem;
            div {
                height: 3.5rem;
                padding: 1.3rem;
                display: block;
                word-spacing: .2rem;
                letter-spacing: .1rem;
                background-color: rgba($gray, 0.95);
                color: $white;
                border-bottom: 1px solid rgba($white, 0.3);
                &:hover {
                    background: rgba($white, 0.9);
                    color: $gray;
                }
            }
        }
    }
}





