@import 'variables.scss';
@import 'mixins.scss';
@import 'reset.scss';

body, html {
    font-family: $primary-font;
    font-size: 18px;
}
.div-flex {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

// efekt parallax CSS
.tlo1 { background-image: url('../img/01.jpg'); }
.tlo2 { background-image: url('../img/02.jpg'); }
.tlo3 { background-image: url('../img/03.jpg'); }
.tlo4 { background-image: url('../img/04.jpg'); }
.tlo5 { background-image: url('../img/05.jpg'); }
.parallax-lotus {
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    max-height: 1000px;
    min-height: 400px;
}
.parallax {
    @extend .parallax-lotus;
    background-attachment: fixed;
}

// desktopowy pasek nawigacji - start
nav {
    height: 10.5rem;
    width: 100%;
    border-bottom: 1px solid $gray;
    background: $gradient-menu;
    position: fixed;
    left: 0;
    top: 0;
    box-shadow: $shadow;
    transition: all 500ms ease-in 50ms;
    .img-logo {
        @extend .div-flex;
        justify-content: flex-start;
        img {
            transition: all 500ms ease-in 50ms;
            max-height: 6.5rem;
            padding: 2rem .5rem;
            opacity: 0.9;
            &:first-child { padding-left: 2rem; }
        }
    }
    #menu-toggle { display: none; }
    .link-up {
        text-decoration: none;
        color: $gray;
        div {
            height: 100%;
            box-sizing: border-box;
            padding: 3rem 1.5rem;
            text-align: center;
            transition: all 500ms ease-in 50ms;
            &:hover {
                color: $yellow;
                box-shadow: $shadow;
                background-color: rgba($gray, 0.9);
            }
        }
    }
}

// desktopowy pasek nawigacji - scroll
.nav-scroll {
    height: 4.5rem;
    background: rgba(255,255,255,.7);
    border-bottom: .3rem solid $gray;
    .img-logo {
        img {
            height: 3rem;
            padding: .85rem .4rem;
            &:first-child { padding-left: 1rem; }
        }
    }
    .link-up {
        div {
            padding: 1.2rem;
            &:hover { background-color: $gray; }
        }
    }
}

// wygląd zawartości tekstowej
.content {
    padding: 5rem 10rem;
    line-height: 1.7rem;
    text-align: justify;
    h2 {
        font-size: 4rem;
        color: $yellow;
        text-shadow: $shadow;
        margin-bottom: 3rem;
        margin-top: 2rem;
    }
    p {
        margin-top: 1.5rem;
    }
}

// przycisk - do góry
#btn-up {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    img {
        height: 4rem;
    }
}